html{
	background-color: black ;
	background: url('bRadG.jpg') no-repeat center center fixed;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
 z-index: -1;
}
#buttons{
width:70%;
  text-align: center;
  margin:0px auto 0 auto;

 background-color: white;
 padding:5px 0px 5px 0px;
 border-radius: 8px;



}
h2{
	margin: 66px 0 0 0;
	font-size: 100px;
	text-align: center;
	font-family: 'Oswald', sans-serif;
font-family: 'Mr Dafoe', cursive;
padding-bottom: 0px;
color:white;
text-shadow: 2px 2px black:
}
body{
	font-family: 'Oswald', sans-serif;
}
button{
	width:200px;
	border: none;
	border-radius: 8px;
	background-color: black;
  color:white;
  font-size: 15px;
	font-family: 'Oswald', sans-serif;
	margin: 0 10px 0 10px;
	font-weight: 300;

}

#wordsContainer{
width:70%;
height:50%;
  margin-left: 500px;
  margin-top: 175px;
	background-color: white;

}

ul{
	list-style: none;

}

.style1{
  color: white;
  font-size:25px;
  text-decoration: overline;
}

.style2{
  color: blue;
  font-size:20px;
}

.style3{
  color:pink;
  font-size:30px;
}

.style4{
  color:purple;
  font-size:15px;
  text-decoration: overline;
}

.style5{
  color:yellow
  font-size:25px;
}

.style6{
  color:orange;
  font-size:
   text-decoration: line-through;
}

.style7{
  color:red;
  font-size:10.5px;
  text-decoration: overline;
	font-weight: 700;
}

.style8{
  color:yellow;
  font-size:15px;

}

.style9{
  color:green;
  font-size:20px;
  text-decoration: overline;
	font-weight: 600;
}

.style10{
  color:violet;
  font-size: 12px;
   text-decoration: line-through;
}
